<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Content/javaScript.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Content/tablesort.js"></script>
</head>
<body>
    <div class="header-page">
        <h3>@ViewBag.Title</h3>
        <hr />
    </div>
    <div class="body-page">
        @RenderBody()
    </div>
</body>
</html>
